@property --percent {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --temp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --v1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --v2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.score {
  font: 800 40px monospace;
  padding: 2rem;
  transition: --percent 1s;
  --temp: calc(var(--percent) * 100);
  --temp2: calc(var(--percent) * 10000);
  --v1: max(calc(var(--percent) - 0.5), 0);
  --v2: max(calc(var(--temp) - calc(var(--v1) * 100) - 0.5), 0);
  --v3: max(calc(var(--temp2) - calc(var(--v1) * 10000) - calc(var(--v2) * 100) - 0.5), 0);
  counter-reset: v1 var(--v1) v2 var(--v2) v3 var(--v3);
}
.score::before {
  content: counter(v1) "." counter(v2, decimal-leading-zero) counter(v3, decimal-leading-zero) "%";
}
